
#introduction {   
    background: 
      linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.7)), url('img/img1.jpg') no-repeat; 
    background-size: cover;
}

.fill-viewport {
  min-height: 100vh;    
}

.text-white-pale {
  color: rgba(255,255,255,0.7)
}

.text-black-pale {
     color: rgba(0,0,0,0.4);
}

.fill-80-viewport {
  min-height: 80vh /*раздел займет 80% высоты экрана*/
}

.fill-40-viewport {
  min-height: 40vh /*раздел займет 80% высоты экрана*/
}

@media screen and (min-width: 768px ){
  .basis-md-50 {
    flex-basis: 50% /*на средних устройствах и выше колонка будет занимать только 50% доступной ширины. на мобильных - 100%*/
  }  
}

#info-3 {
  background: linear-gradient(rgba(100,181,246 ,0.3), rgba(0,0,0,0.8)),url('img/img3.jpg') 0% 0%;
  background-size: cover;
}

.list-border-y li {
  border-top: 1px solid /*границы в карточке пакета в прайсе*/
}
.list-border-y li:last-child {
  border-bottom: 1px solid
}

.list-border-black-20 li,
.list-border-black-20 li:last-child{
  border-color: rgba(0,0,0,0.2)
}